"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
email = "bonsignore.brian@gmail.com"
name = "Brian Bonsignore"
username = "bbonsign"

[snapshot]
# auto-track = "none()"

[git]
# https://jj-vcs.github.io/jj/latest/config/#set-of-private-commits
# You can configure the set of private commits by setting git.private-commits to a revset.
# The value is a revset of commits that Jujutsu will refuse to push.
# If unset, all commits are eligible to be pushed.
# If a commit is in git.private-commits but is already on the remote, then it is not considered a private commit.
# Commits that are immutable are also excluded from the private set.
# Private commits prevent their descendants from being pushed, since doing so would require pushing the private commit as well.
private-commits = "description(glob:'private:*')"

[aliases]
e = ["edit"]
en = ["next", "--edit"]
ne = ["next", "--edit"]
ep = ["prev", "--edit"]
pe = ["prev", "--edit"]
l = ["log"]
la = ["log", "-r", "all()"]
s = ["status"]
ui = ["util", "exec", "--", "jjui"]
clone = ["util", "exec", "--", "jj-clone"]

[revset-aliases]
'trunk_to(revset)' = 'trunk()..revset'

[ui]
default-command = "log"
editor = "nvim"
revsets-use-glob-by-default = true
conflict-marker-style = "snapshot"

# merge-editor = [
#   "flatpak",
#   "run",
#   "--file-forwarding",
#   "--filesystem=/tmp",
#   "org.gnome.meld",
#   "$left",
#   "$base",
#   "$right",
#   "-o",
#   "$output",
# ]

pager = "delta"
# diff.format = ":git"
diff-formatter = ":git"
# Works the same in jj and jjui:
# diff-formatter = ["difft", "--color=always", "$left", "$right"]

# Default diff-editor is `scm-record`
# use `--tool :buildin` to override the setting below and use the buildin `scm-diff-editor` https://github.com/arxanas/scm-record
# diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
diff-instructions = false
show-cryptographic-signatures = true # default is false

[template-aliases]
'format_short_cryptographic_signature(sig)' = '''
  if(sig,
    sig.status(),
    "(no sig)",
  )
'''

[colors]
# Highlight hunks with background
"diff removed token" = { bg = "#221111", underline = false }
"diff added token" = { bg = "#002200", underline = false }
# Alternatively, swap colors
"diff token" = { reverse = true, underline = false }
