"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"

[user]
email = "bonsignore.brian@gmail.com"
name = "Brian Bonsignore"
username = "bbonsign"

[snapshot]
# Uncomment below to prevent new files from being tracked by default
# auto-track = "none()"

[git]
# https://jj-vcs.github.io/jj/latest/config/#set-of-private-commits
# You can configure the set of private commits by setting git.private-commits to a revset.
# The value is a revset of commits that Jujutsu will refuse to push.
# If unset, all commits are eligible to be pushed.
# If a commit is in git.private-commits but is already on the remote, then it is not considered a private commit.
# Commits that are immutable are also excluded from the private set.
# Private commits prevent their descendants from being pushed, since doing so would require pushing the private commit as well.
private-commits = "description(glob:'private*')"

[aliases]
e = ["edit"]
en = ["next", "--edit"]
ne = ["next", "--edit"]
ep = ["prev", "--edit"]
pe = ["prev", "--edit"]
l = ["log"]
la = ["log", "-r", "all()"]
s = ["status"]
st = ["status"]
ui = ["util", "exec", "--", "jjui"]
clone = ["util", "exec", "--", "jj-clone"]
init = ["util", "exec", "--", "jj-init"]

[revset-aliases]
'trunk_to(revset)' = 'trunk()..revset'

[ui]
default-command = "log"
editor = "nvim"
# revsets-use-glob-by-default = true
# conflict-marker-style = "snapshot"

# merge-editor = [
#   "flatpak",
#   "run",
#   "--file-forwarding",
#   "--filesystem=/tmp",
#   "org.gnome.meld",
#   "$left",
#   "$base",
#   "$right",
#   "-o",
#   "$output",
# ]

pager = "delta"
diff-formatter = ":git"

# Default diff-editor is `scm-record`
# use `--tool :buildin` to override the setting below and use the buildin `scm-diff-editor` https://github.com/arxanas/scm-record
# diff-editor = ["nvim", "-c", "DiffEditor $left $right $output"]
diff-instructions = false

[template-aliases]
'format_short_cryptographic_signature(sig)' = '''
  if(sig,
    sig.status(),
    "(no sig)",
  )
'''

custom_log_oneline = 'custom_log_oneline(self)'
'custom_log_oneline(commit)' = '''
if(commit.root(),
  format_root_commit(commit),
  label(
    separate(" ",
      if(commit.current_working_copy(), "working_copy"),
      if(commit.immutable(), "immutable", "mutable"),
      if(commit.conflict(), "conflicted"),
    ),
    separate(" ",
      format_short_change_id_with_change_offset(commit),
      format_short_commit_id(commit.commit_id()),
      format_commit_labels(commit),
      if(commit.empty(), empty_commit_marker),
      if(commit.description(),
        if(commit.description().first_line().len() > 72,
          truncate_end(72, commit.description().first_line(), "…… " ++ commit.bookmarks()),
          pad_end(72, commit.description().first_line() ++ " " ++ commit.bookmarks(), " "),
        ),
        label(if(commit.empty(), "empty"), description_placeholder ++ " " ++ commit.bookmarks()),
      ),
      commit.tags(),
      commit.working_copies(),
      format_short_signature_oneline(commit.author()),
      if(config("ui.show-cryptographic-signatures").as_boolean(),
        format_short_cryptographic_signature(commit.signature())
      ),
      format_timestamp(commit_timestamp(commit)),
    ) ++ "\n",
  )
)
'''

[colors]
# Highlight hunks with background
"diff removed token" = { bg = "#221111", underline = false }
"diff added token" = { bg = "#002200", underline = false }
# Alternatively, swap colors
"diff token" = { reverse = true, underline = false }
