// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://github.com/YaLTeR/niri/wiki/Configuration:-Overview

hotkey-overlay {
  skip-at-startup
}

xwayland-satellite { }

environment {
  DISPLAY ":0"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORM "wayland"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
  // QT_QPA_PLATFORMTHEME "qt6ct"
  DMS_DISABLE_POLKIT "1"
}

// include "dms/includes.kdl"
include "noctalia/includes.kdl"
include "my/includes.kdl"

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// spawn-at-startup "/usr/libexec/xdg-desktop-portal" "--replace"
spawn-sh-at-startup "wl-paste --watch cliphist store &"
// spawn-at-startup "nixGL" "noctalia-shell"
// spawn-at-startup "swaync"
// spawn-at-startup "ignis" "init"
spawn-at-startup "1password" "--silent" // --silent opens to the system tray without showing the main window
spawn-sh-at-startup "kitty --single-instance || $HOME/.local/kitty.app/bin/kitty --single-instance"
spawn-at-startup "~/.local/bin/niri-scratch.nu"

