binds {
  // Core Noctalia binds
  Mod+Shift+Semicolon { spawn-sh  "noctalia msg panel-toggle launcher"; }
  Mod+Comma { spawn-sh  "noctalia msg settings-toggle"; }

  // // Audio controls
  XF86AudioRaiseVolume { spawn-sh  "noctalia msg volume-up"; }
  XF86AudioLowerVolume { spawn-sh  "noctalia msg volume-down"; }
  XF86AudioMute { spawn-sh  "noctalia msg volume-mute"; }

  // Brightness controls
  // XF86MonBrightnessUp allow-when-locked=true { spawn-sh  "noctalia msg brightness-up"; }
  // XF86MonBrightnessDown allow-when-locked=true { spawn-sh  "noctalia msg brightness-down"; }

  // Utility shortcuts
  Mod+N hotkey-overlay-title="Toggle Notifications" { spawn-sh "noctalia msg panel-toggle control-center notifications" ; }
  Mod+BackSpace { spawn-sh  "noctalia msg notification-clear-active"; }
  Mod+Shift+BackSpace { spawn-sh  "noctalia msg notification-clear-history"; }
  // Mod+V { spawn-sh  "noctalia msg launcher clipboard"; }

  Mod+Ctrl+B hotkey-overlay-title="Toggle Bar" { spawn-sh "noctalia msg bar-toggle"; }

  Mod+W hotkey-overlay-title="Toggle Overview" { spawn-sh "noctalia msg panel-toggle control-center" ; }
  Mod+Shift+W hotkey-overlay-title="Toggle Overview" { spawn-sh "noctalia msg panel-toggle control-center weather" ; }
  Mod+Ctrl+W hotkey-overlay-title="Browse Wallpapers" { spawn-sh "noctalia msg panel-toggle wallpaper"; }
}
