// Make the wallpaper stationary, rather than moving with workspaces.
layer-rule {
    // Find the right namespace by running niri msg layers.
    match namespace="^wallpaper$"
    match namespace="^quickshell$"
    match namespace="^noctalia-wallpaper*"
    match namespace="^noctalia*"
    match namespace="dms:blurwallpaper"
    place-within-backdrop true
    background-effect {
      xray false
    }
}


layer-rule {
  match namespace="swaync"
  block-out-from "screen-capture"
}


